/*Navbar*/
.navbar-brand .img-fluid { 
  height: 70px;
  width:auto;
}

/*Cards*/
.card-img-top {
  width: 100%;
  height:60%;
  object-fit: cover;
}

/*Formulario*/
.formulario{
  margin: auto;
  margin-bottom: 40px;
  width: 90%;
  border: 2px solid;
  padding-inline-start: 8px;
  padding-bottom: 8px;
}