/*Navbar*/
.navbar-brand .img-fluid { 
  height: 70px;
  width:auto;
}

#SearchBox{
  float: right;
}

/*Cards*/
.card-img-top {
  width: 100%;
  height:60%;
  object-fit: cover;
}

/*Formulario*/
.animalcreateform{
  margin: auto;
  margin-bottom: 40px;
  width: 64%;
  border: 2px solid;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  padding-bottom: 8px;
}
.animaleditform{
  margin: auto;
  margin-bottom: 40px;
  width: 64%;
  border: 2px solid;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  padding-bottom: 8px;
}

/*UserCards*/
.col-md-4 {
  margin-bottom: 30px;
}

.card {
  padding: 30px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
  margin-top: 20px;
}
.card-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.card-text .fa {
  font-size: 26px;
}
.avatar {
  width: 140px;
  margin: auto;
}
.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
}
.card:hover .avatar img {
  border-color: rgb(255, 55, 89);
}

.btn {
  border-radius: 25px;
}

/* Formulario */
.bigbox {
  width: 250px;
  height: 150px;
}
